﻿

<!DOCTYPE html>
<html lang="en-US">


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
   
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="~/../modules/app.js"></script>
    <script src="~/../controllers/studentCtrl.js"></script>
    <script src="~/../services/studentService.js"></script>



    <meta charset="utf-8" />
    <title>students</title>
</head>
<body>


    <div ng-app="myapp">
        <div ng-controller="studentCtrl">

           


            <form novalidate name="frmStudent" id="frmStudent" class="form-horizontal row-border">
                <br />
                <div class="col-md-12">

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="input17"> Id</label>
                        <div class="col-md-7">
                            <input type="text"
                                   id="idFirstName11"
                                   class="form-control"
                                   name="nameFirstName" ng-model="Id" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="input17"> Name</label>
                        <div class="col-md-7">
                            <input type="text"
                                   id="idFirstName"
                                   class="form-control"
                                   name="nameFirstName" ng-model="Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="input17"> Department</label>
                        <div class="col-md-7">
                            <input type="text"
                                   id="idLastName"
                                   class="form-control"
                                   name="nameFirstName" ng-model="Department" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="input17"> Phone</label>
                        <div class="col-md-7">
                            <input type="text"
                                   id="idEmail"
                                   class="form-control"
                                   name="nameEmail" ng-model="Phone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="input17"> Year</label>
                        <div class="col-md-7">
                            <input type="text"
                                   id="idAddress"
                                   class="form-control"
                                   name="nameAdress" ng-model="Year" />
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-7">
                            <span id="save" class="btn btn-success margin-right-btn" ng-click="SaveUpdate()">
                                <i class="icon-save"></i> {{btnText}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr />

                <table class="table table-hover general-table">
                    <thead class="grid-top-panel">
                        <tr>
                            <th style="display:none">Id</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Phone</th>
                            <th>Year</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dataModel in studnets">
                            <td style="display:none">{{dataModel.Id}}</td>
                            <td> {{dataModel.Id}}</td>
                            <td> {{dataModel.Name}}</td>
                            <td> {{dataModel.Department}}</td>
                            <td>{{dataModel.Phone}}</td>
                            <td>{{dataModel.Year}}</td>
                            <td style="text-align:right; color:white">
                                <span>
                                    <span id="save" class="btn btn-primary margin-right-btn" ng-click="GetStudentByID(dataModel)">
                                        Edit
                                    </span>
                                </span>
                            </td>
                            <td style="text-align:right; color:white">
                                <span>
                                    <span id="save" class="btn btn-danger margin-right-btn" ng-click="DeleteStudent(dataModel)">
                                        Delete
                                    </span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>



                <br />
                <br />
            </form>







        </div>
    </div>


</body>



</html>
